<h2>Exercise 03: Custom Directives</h2>

<div class="row mb-4 mt-4">
  <div class="col-12 mb-2">
    <h3>Capitalize</h3>
    <div class="col-12 mb-2 mt-4">
      <p><strong>Original: </strong>{{ lowercaseString }}</p>
      <p capitalize>{{ lowercaseString }}</p>
    </div>

    <div class="col-12 mb-2 mt-4">
      <p><strong>Original: </strong>{{ uppercaseString }}</p>
      <p capitalize>{{ uppercaseString }}</p>
    </div>

    <div class="col-12 mb-2 mt-4">
      <p><strong>Original: </strong>{{ otherString }}</p>
      <p capitalize>{{ otherString }}</p>
    </div>
  </div>
</div>
